.anime-body{    
    background-image: url(../images/anime.jpg);
}

.welcome {
    margin-top: 3rem;
    border-radius: 40px;
    margin-bottom: 5rem;
    width: 80%;
    height: auto; 
    background: rgba(0, 0, 0, 0.75); 
    color: #fff; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    gap: 10px; 
}

.wlcpara{
    max-width: 80%;
    margin-top: 2rem;
    color: #ccc;
}

.button {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e55a50;
}


.leaderboard {
    width: 100%;
    max-width: 800px; 
    background: rgba(0, 0, 0, 0.85);
    padding: 25px; 
    border-radius: 10px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); 
    color: #fff;  
    margin: 0 auto 2rem; 
    margin-top: 10rem; 
}

.leaderboard table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

.leaderboard th, .leaderboard td {
    text-align: left;
    padding: 12px 8px; 
    border-bottom: 2px solid #444;
}

.leaderboard th {
    background-color: #222;
    color: #eee;
}

.leaderboard tbody tr:hover {
    background-color: #333;
}

.leaderboard h1 {
    color: #ccc; 
    margin-bottom: 1rem; 
}
